.printing-tab-large {
  display: flex;
  flex-direction: row;
}

.printing-tab-medium {
  display: flex;
  flex-direction: column;
}

.control-tab-large {
  display: flex;
  flex-direction: row;
}

.control-tab-medium {
  display: flex;
  flex-direction: column;
}
